body {
    background: linear-gradient(180deg, #F5E0C3 0%, #D2B48C 100%);
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabla {
    border: 2px solid black;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.boton-accion {
    text-decoration: none;
}

.num-mensajes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    /* border: 2px solid lawngreen; */
}

.num-mensajes1 {
    font-weight: bolder;
}

.num-mensajes2 {
    /* border: 4px solid blue; */
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}

.num-mensajes-text {
    font-size: 20px;
}

.email {
    text-decoration: none;
    color: rgba(112, 6, 6, 0.802);
    font-weight: bold;
}

.telefono {
    text-decoration: none;
    color: rgba(8, 49, 233, 0.801);
    font-weight: bold;
}

.btn-actualizar {
    padding-top: 2%;
    display: flex;
    justify-content: center;
}

.btn-actualizar-text {
    background: yellowgreen;
    border-radius: 20px;
    border: 2px solid grey;
    font-size: 18px;
    cursor: pointer;
}

table {
    margin: 0;
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    border: 0.5px solid black;
    margin: 0;
    padding: 0;
    text-align: center;
}

td {
    border: 0.5px solid black;
    margin: 0;
    padding: 0;
    text-align: center;
}