body {
    /* background: linear-gradient(180deg, #F5E0C3 0%, #D2B48C 100%); */
    background: #8eaae5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    width: 100%;
    height: 100vw;
    padding-top: 0px;
}

