{% extends "base2.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/autor.css' %}">
<title>{% block title %}El creador de esta hermosura{% endblock %}</title>
{% endblock %}
{% block content %}
<div class="autor">
    <div class="autor-container">
        <div class="datos-personales">
            <h2>Creado por</h2>
            <button id="mostrar-autor">Mostrar autor</button>
            <div id="info-autor" class="oculto">
                <div class="image-crossfade" id="crossfade-box">
                    <img src="{% static 'images/autor.png' %}" class="img-fade img-uno" alt="Foto anonima">
                    <img src="{% static 'images/boda1.jpg' %}" class="img-fade img-dos" alt="Foto del autor">
                </div>
                <div class="nombre-crossfade" id="crossfade-nombre">
                    <p class="nombre" id="nombre">AYsamir</p>
                    <!-- <p class="nombre">Isamir Valencia López</p> -->
                </div>    
                <div class="estudios" id="mostrar-estudios">
                    <h2>Licenciado en</h2>
                    <p class="estudio" id="estudio">Llegar tarde</p>
                    <!-- <p class="estudio">Desarrollo de Aplicaciones Multiplataforma</p> -->
                </div>
            </div>
        </div>
        <!-- <div class="estudios">
            <h2>Graduado en ...</h2>
            <p class="estudio">Desarrollo de Aplicaciones Multiplataforma</p>
        </div> -->
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const btn = document.getElementById("mostrar-autor");
        const info = document.getElementById("info-autor");
        const box = document.getElementById("crossfade-box");
        // const nombreBox = document.getElementById("crossfade-nombre");
        const nombre = document.getElementById("nombre");
        // const estudios = document.getElementById("mostrar-estudios");
        const estudio = document.getElementById("estudio");

        btn.addEventListener("click", () => {
            info.classList.add("mostrar");
            setTimeout(() => {
                box.classList.add("cambiar");
                // nombreBox.classList.add("cambiar");
            }, 4000)

            nombre.style.opacity = 0;
            setTimeout(() => {
                nombre.classList.add("cambiar")
                nombre.textContent = "Isamir Valencia López";
                nombre.style.opacity = 1;
            }, 6500)

            estudio.style.opacity = 0;
            setTimeout(() => {
                // estudios.classList.add("cambiar");
                estudio.classList.add("cambiar")
                estudio.textContent = "Desarrollo de Aplicaciones Multiplataforma";
                estudio.style.opacity = 1;
            }, 9500)

            btn.style.display = "none";
        });
    });
</script>
{% endblock %}