{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% endblock %}
    <style>
        html {
            overflow-y: scroll;
        }

        ::-webkit-scrollbar {
            display: none;
        }

        body {
            overflow: hidden;
        }
    </style>
</head>
<body>
    {% include "navbar.html" %}

    {% block content %}
    {% endblock %}

    {% include "footer.html" %}
    <!-- <script>
        document.addEventListener("DOMContentLoaded", function () {
            const logo = document.getElementById("logo-expandible");
            const contenido = document.getElementById("contenido-principal");

            const alturaNavbarNormal = 68;
            const alturaNavbarExpandido = 138;
            
            if (logo && contenido) {
                contenido.style.paddingTop = alturaNavbarExpandido + "px";

                logo.addEventListener("mouseenter", () => {
                    contenido.style.paddingTop = alturaNavbarExpandido + "px";
                });

                logo.addEventListener("mouseleave", () => {
                    contenido.style.paddingTop = alturaNavbarNormal + "px";
                });
            }
        });
    </script> -->
</body>
</html>