{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/Logo-Castillo-Puente-del-Congosto-hd.png' %}">
    <title>{% block title %} Castillo Congosto | Inicio {% endblock title %}</title>
    {% block head %}
    {% endblock %}
    <style>
        ::-webkit-scrollbar {
            display: none;
        }
    </style>
</head>
<body>
    {% include "navbar.html" %}
    <div>    
        {% block content %}
        {% endblock %}
    </div>
    {% include "footer.html" %}

</body>
</html>