{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/carousel.css' %}">
{% endblock %}
{% block content %}
<div class="carousel">
    <div class="atras">
        <img id="atras" src="{% static 'images/boton-atras.png' %}" loading="lazy">
    </div>
    <div class="imagenes">
        <div id="img">
             <img src="{% static 'images/entrada-castillo.jpg' %}" alt="entrada castillo" class="img" loading="lazy">
        </div>
        <div id="texto" class="texto">
            <h3>Castillo de Puente Congosto</h3>
            <p>Un castillo de ensueño para celebrar el amor eterno de la pareja perfecta.</p>
        </div>
    </div>
    <div class="adelante" id="adelante">
        <img id="adelante" src="{% static 'images/boton-adelante.png' %}" alt="adelante" loading="lazy">
    </div>
</div>

<div class="puntos" id="puntos"></div>
<!-- 
<div class="slider-horizontal">
    <div class="scroll-container">
        <img src="{% static 'images/entrada-castillo.jpg' %}" alt="Entrada Castillo">
        <img src="{% static 'images/castillo-interno-dia.jpg' %}" alt="Castillo dia">
        <img src="{% static 'images/castillo-interno-atardecer.jpg' %}" alt="Castillo atardecer">
    </div>
</div> -->

<script src="{% static 'js/carousel.js' %}"></script>
{% endblock %}
