{% extends "base2.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/historia.css' %}">
<title>{% block title %}Historia{% endblock %}</title>
{% endblock %}
{% block content %}
    <div class="contenido-principal">
        <h2 class="origen">Origen</h2>
        <!-- <p>Ubicado en ocalidad Puente del Congosto, Salamanca. Su construcción comenzó en 1393 bajo la dirección de Gil González Dávil, a quién el rey Enrique III le concedió el señorío de Puente del Congosto.</p> -->
        <p>En el año 1393, el rey <a href="https://es.wikipedia.org/wiki/Enrique_III_de_Castilla" target="_blank"><strong>
            Enrique III de Castilla</strong></a> otorgó el señorío de Puente del Congosto a 
            <a href="https://es.wikipedia.org/wiki/Gil_Gonz%C3%A1lez_D%C3%A1vila" target="_blank"><strong>Gil González Dávila</strong></a>, 
            quien mandó construir la fortaleza para controlar el paso sobre el río Tormes. Con el tiempo, la propiedad pasó a la 
            Orden de Calatrava, y su importancia creció al servir como refugio de figuras ilustres como 
            <a href="https://es.wikipedia.org/wiki/Isabel_I_de_Castilla" target="_blank"><strong>Isabel la Católica</strong></a>
            y <a href="https://es.wikipedia.org/wiki/Carlos_I_de_Espa%C3%B1a" target="_blank"><strong>Carlos V</strong></a>, quien se alojó en él camino a Yuste. 
            Tras la Guerra de las Comunidades, en 1539, el castillo 
            fue adquirido por el Ducado de Alba, que lo mantuvo hasta 1881, cuando dejó de usarse para el cobro del portazgo y fue 
            vendido a manos privadas​.
        </p>
        <img class="castillo" src="{% static 'images/entrada-castillo.jpg' %}" alt="Castillo Congosto">
        <h2 class="caracteristicas">Características</h2>
        <p class="caracteristicas">El castillo presenta una estructura de hexágono irregular, con una torre de planta rectangular de cuatro niveles y un cuerpo anexo de tres plantas con azotea, construido posteriormente. La fortaleza cuenta con un gran patio de armas, separado del resto del edificio por un grueso muro, y un aljibe subterráneo que aseguraba el suministro de agua. Su acceso principal se encuentra en un cubo defensivo con arco rebajado y puerta en recodo, diseñado para dificultar la entrada de invasores. En la actualidad, sigue en pie sobre el río Tormes, aunque ha sido adaptado para eventos privados​
        </p>
    </div>
{% endblock %}