{% extends "base.html" %}
{% load static %}

{% block head %}
<!-- <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
  integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
  crossorigin="anonymous"></script> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
  integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
  crossorigin="anonymous"> -->
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
<center>
  {# {% include "carousel.html" %} #}
  <h1>Hola</h1>
  <h2>Vuestra historia de amor merece un escenario tan inolvidable como el sentimiento que os une</h2>
  <p>Cambiar imagenes del carousel a 3, la primera esta bien, las dos ya sabes cuales son</p>
  <p>Cambiar titulos de las imagenes</p>
  <p>Hacer juego con el color azul del navbar y footer y el del home.html para el resto de htmls</p>
  
  <h3>hola</h3>
</center>
{% endblock %}