{% extends "base.html" %}
{% load static %}

{% block head %}
<!-- <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
  integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
  crossorigin="anonymous"></script> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
  integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
  crossorigin="anonymous"> -->
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
<center>
  {# {% include "carousel.html" %} #}
  <h1>Páginas a hacer responsive en este orden</h1>
  <ol>
    <li>
      <p>Lista-contactos 🛠️</p> 
    </li>
    <li>
      <p>Servicios ❌</p>
    </li>
    <li>
      <p>Contacto ❌</p>
    </li>
    <li>
      <p>Dossier ❌</p>
    </li>
    <li>
      <p>Ubicación ❌</p>
    </li>
    <li>
      <p>Mensaje ❌</p>
    </li>
    <li>
      <p>Inicio ❌</p>
    </li>
    <li>
      <p>Historia ❌</p>
    </li>
  </ol>
  <h2 style="color: red;">Actualizar al acabar dicha página</h2>
  <h1>Cosas para el responsive</h1>
  <p>/* Móvil muy pequeño */
@media (max-width: 240px) {}
  </p>
  <p>
/* Móvil pequeño */
@media (max-width: 320px) {}
    </p>
    <p>
/* Móvil mediano */
@media (max-width: 375px) {}
      </p>
      <p>
/* Móvil grande */
@media (max-width: 414px) {}
    </p>
    <p>
/* Tablet pequeña */
@media (max-width: 600px) {}
    </p>
    <p>
/* Tablet mediana */
@media (max-width: 768px) {}
      </p>
      <p>
/* Tablet grande */
@media (max-width: 1024px) {}</p>
<h2>Hacer en cada css con el mínimo y el máximo de cada dispositivo (movil y tablet)</h2>
  <h1>Hola</h1>
  <h2>Vuestra historia de amor merece un escenario tan inolvidable como el sentimiento que os une</h2>
  <p>Cambiar imagenes del carousel a 3, la primera esta bien, las dos ya sabes cuales son</p>
  <p>Cambiar titulos de las imagenes</p>
  <p>Hacer juego con el color azul del navbar y footer y el del home.html para el resto de htmls</p>
  
  <h3>hola</h3>
</center>
{% endblock %}