{% extends "base2.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/imagen.css' %}">
<title>{% block title %}Cambio de imagen{% endblock %}</title>
{% endblock %}
{% block content %}
    <div class="imagen-div">
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}" class="imagen-form">
                {% csrf_token %}
                <button type="submit" class="boton-cerrar-sesion">Cerrar sesión</button>
            </form>
        {% endif %}
    </div>
{% endblock %}