{% extends "base2.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/servicios.css' %}">
<title>Servicios</title>
{% endblock %}

{% block content %}
<section class="servicios-section">
    <h2 class="titulo-servicios">Servicios Disponibles</h2>
    <div class="grid-servicios">
        {% for servicio, imagen in servicios %}
        <div class="tarjeta-servicio" data-img="{% static imagen %}">
            <img src="{% static imagen %}" alt="{{ servicio }}" class="img-servicio">
            <div class="info-servicio">
                <h3>{{ servicio }}</h3>
            </div>
        </div>
        {% endfor %}
    </div>

    <div id="modal-servicio" class="modal-servicio">
        <span class="close-servicio">&times;</span>
        <img id="modal-img-servicio" class="modal-content-servicio" alt="Imagen del servicio">
    </div>
</section>
<script src="{% static 'js/servicios.js' %}"></script>
{% endblock %}