{% extends "base2.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/mensaje.css' %}">
<title>{% block title %}Mensaje numero {{contacto.id}}{% endblock %}</title>
{% endblock %}
{% block content %}
<br><br><br><br>
<div class="contenido">
    <div class="datos-personales">
        <p>{{ contacto.nombre }} {{ contacto.apellidos }}, de {{ contacto.lugar }}, mandado el {{ contacto.fecha|date:"d/m/Y" }}</p>
        <p>Telefono: {{ contacto.telefono }}</p>
        <p>Email: {{ contacto.email }}</p>
    </div>
    <div class="mensaje">
        <p>{{ contacto.mensaje }}</p>
    </div>
    <div>
        <form method="post">
            {% csrf_token %}
                <input type="submit" value="Atras" class="boton-atras">
        </form>       
    </div>
</div>
{% endblock content %}