body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabla {
    border: 2px solid black;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.boton-accion {
    text-decoration: none;
}

.num-mensajes {
    display: flex;
    justify-content: center;
}

.num-mensajes-text {
    font-size: 20px;
}

.btn-actualizar {
    padding-top: 2%;
    display: flex;
    justify-content: center;
}

.btn-actualizar-text {
    background: yellowgreen;
    border-radius: 20px;
    border: 2px solid grey;
    font-size: 18px;
    cursor: pointer;
}

table {
    margin: 0;
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    border: 0.5px solid black;
    margin: 0;
    padding: 0;
    text-align: center;
}

td {
    border: 0.5px solid black;
    margin: 0;
    padding: 0;
    text-align: center;
}