/* Fondo elegante */
body {
    background: #8391ae; ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    /* box-sizing: border-box; */
    /* overflow-x: hidden; */
}

.form-contacto {
    flex: 1;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.texto {
    display: block;
    text-align: center;
}

.texto-title {
    font-size: 32px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    background-color: rgba(209, 148, 79, 0.827);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    font-style: italic;
}

/* Ajustes para los párrafos */
.texto-p {
    color: #4a2f1e;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    max-width: 600px;
    margin: 0 auto 15px auto;
}

/* Estilo especial para el número de contacto */
.contacto-numero {
    color: rgb(237, 167, 88);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.contacto-email {
    color: rgb(237, 167, 88);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Contenedor del formulario */
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

/* Caja del formulario */
.form_container {
    background: rgba(250, 240, 230, 0.95);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    max-width: 450px;
    width: 100%;
    margin: 0 auto 30px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Título del formulario */
.form_title {
    font-size: 28px;
    color: #5a3826;
    margin-bottom: 20px;
}

.espana-radio {
    padding: 0 5px 5px 0;
}

/* Inputs */
.form__input {
    width: 100%;
    padding: 12px;
    /* border: 1px solid #b58e6b; */
    border: 1px solid #8b5e3c;
    color: #4b2e1f;
    border-radius: 5px;
    background: #fdf6f1;
    font-size: 16px;
    margin-bottom: 15px;
    font-family: 'Garamond', serif;
}

.form__input_div {
    width: 105%;
    height: auto;
    padding: 12px;
}

.form__input_lugar {
    width: 95%;
    padding: 12px;
    /* border: 1px solid #b58e6b; */
    border: 1px solid #8b5e3c;
    color: #4b2e1f;
    border-radius: 5px;
    background: #fdf6f1;
    font-size: 16px;
    /* margin-bottom: 15px; */
    font-family: 'Garamond', serif;
}

.provincia-div {
    padding: 5px
}

.provincia-div label {
    color: #4b2e1f;
}

.provincia-div select {
    padding: 2px;
    border-radius: 10px;
}

.telefono-div {
    padding: 12px;
    width: 105%;
}

.telefono-espana-span {
    padding: 12px;
    border: 1px solid #8b5e3c;
    color: #4b2e1f;
    border-radius: 5px;
    background: #fdf6f1;
    border-radius: 5px 0 0 5px;
    font-family: 'Garamond', serif;
}

::placeholder {
    color: #a67c52;
}

/* Ajuste específico para el área de mensaje */
.form__input--message {
    resize: vertical;
}

/* Botón de enviar */
.form__cta {
    background: #7a5b4b;
    color: white;
    font-size: 18px;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.form__cta:hover {
    background: #5a3826;
}

/* Estilos del título de la sección */


@media (max-width:860px) {
    .form-contacto {
        flex-direction: column;
        height: 100%;
    }

    .form_container {
        max-width: 100%;
    }

    .form_title {
        font-size: 40px;
    }   

    .espana-radio {
        font-size: 30px;
    }

    .form__input {
        font-size: 30px;
        padding: 15px;
    }

    .form__input_div {
        width: 113%;
    }

    .provincia-div {
        font-size: 30px;
    }

    .provincia-div select {
        font-size: 30px;
    }

    .telefono-div {
        width: 105%;
    }

    .telefono-espana-span {
        font-size: 30px;
    }

    .form__input_lugar {
        width: 89%;
        font-size: 30px;
    }

    .form__cta {
        font-size: 30px;
    }

    .texto h2 {
        font-size: 40px;
    }

    .contacto-numero,
    .contacto-email {
        font-size: 30px;
    }

    .texto-p {
        font-size: 32px;
    }
}

@media screen and (orientation: landscape) and (max-height:430px) and (max-width: 956px) {
    .form-contacto {
        padding-bottom: 2%;
        padding-top: 2%;
    }

    .texto-p {
        font-size: 30px;
    }

    .provincia-div select {
        font-size: 26px;
    }

    .contacto-numero,
    .contacto-email {
        font-size: 30px;
    }
}


@media screen and (orientation: landscape) and (max-height:430px) and (max-width: 812px) { 
    .form-contacto {
        padding-bottom: 2%;
        padding-top: 2%;
    }

    .texto-p {
        font-size: 26px;
    }

    .provincia-div select {
        font-size: 22px;
    }

    .contacto-numero,
    .contacto-email {
        font-size: 26px;
    }
}

@media (max-width:430px) {
    .form_container {
        padding: 20px;
        width: 65%;
    }

    .form_title {
        font-size: 32px;
    }

    .form__input {
        font-size: 22px;
        padding: 10px;
    }

    .espana-radio {
        font-size: 22px;
    }

    .form__input_div {
        width: 110%;
    }

    .telefono-div {
        width: 105%;
    }

    .telefono-espana-span {
        font-size: 22px;
    }

    .form__input_lugar {
        width: 90%;
        font-size: 22px;
    }
    
    .provincia-div {
        font-size: 22px;
    }

    .provincia-div select {
        font-size: 18px;
    }

    .form__cta {
        font-size: 22px;
        padding: 10px 16px;
    }

    .texto {
        width: 60%;
    }

    .texto h2 {
        font-size: 32px;
        padding: 8px 15px;
    }

    .contacto-numero,
    .contacto-email {
        font-size: 24px;
    }

    .texto-p {
        font-size: 22px;
    }
}

@media (max-width:375px) {
    .form_container {
        padding: 20px;
        width: 55%;
    }

    .form_title {
        font-size: 28px;
    }

    .form__input {
        font-size: 20px;
        padding: 10px;
    }

    .espana-radio {
        font-size: 18px;
    }

    .form__input_div {
        width: 110%;
    }

    .telefono-div {
        width: 107%;
    }

    .telefono-espana-span {
        font-size: 20px;
    }

    .form__input_lugar {
        width: 90%;
        font-size: 20px;
    }

    .provincia-div {
        font-size: 20px;
    }

    .provincia-div select {
        font-size: 16px;
    }

    .form__cta {
        font-size: 20px;
        padding: 10px 16px;
    }

    .texto h2 {
        font-size: 28px;
        padding: 8px 15px;
    }

    .contacto-numero,
    .contacto-email {
        font-size: 21px;
    }

    .texto-p {
        font-size: 20px;
    }
}

@media (max-width:320px) {
    .form_container {
        padding: 20px;
        width: 45%;
    }

    .form_title {
        font-size: 24px;
    }

    .form__input_div {
        width: 110%;
    }

    .espana-radio {
        font-size: 16px;
    }

    .telefono-div {
        width: 107%;
    }

    .telefono-espana-span {
        font-size: 18px;
    }

    .form__input_lugar {
        width: 90%;
        font-size: 18px;
    }

    .provincia-div {
        font-size: 18px;
    }

    .provincia-div select {
        font-size: 14px;
    }

    .form__input {
        font-size: 18px;
    }

    .form__cta {
        font-size: 18px;
        padding: 8px 14px;
    }

    .texto {
        width: 53%;
    }

    .texto h2 {
        font-size: 24px;
        padding: 6px 10px;
    }

    .contacto-numero,
    .contacto-email {
        font-size: 19px;
    }

    .texto-p {
        font-size: 18px;
    }
}