/* Fondo elegante */
body {
    /* background: linear-gradient(135deg, #2c1e1e, #5a3826); */
    /* background: linear-gradient(180deg, #F5E0C3 0%, #D2B48C 100%); */
    background: #a5b5d8;
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.dossier {
    width: 450px;
    height: 567px;
}

/* Botón de descarga */
.dossier-btn {
    /* background: #7a5b4b; */
    background: teal;
    color: white;
    font-size: 18px;
    border: none;
    margin-top: 40px;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.dossier-btn:hover {
    background: #5a3826;
}

.mensaje-descarga {
    /* color: burlywood; */
    /* color: rgba(94, 45, 18, 0.849); */
    color: black;
    font-size: 16px;
    font-family: 'EB Garamond', serif;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
}

.dossier-gallery-mobile-only-vertical {
    display: none;
}

.dossier-gallery-mobile-only-horizontal {
    display: none;
}

@media (max-width:430px) {
    .dossier {
        display: none;
        width: 400px;
        height: 504px;
    } 
/* 
    .dossier-gallery-mobile-only-vertical {
        display: block;
        width: 100%;
        padding: 10px;
    }

    .dossier-gallery-mobile-only-vertical img {
        width: 100%;
        height: auto;
        margin-bottom: 16px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    } */

    .dossier-gallery-mobile-only-horizontal {
        display: block;
        overflow: hidden;
        padding: 10px 0;
    }

    .dossier-gallery-mobile-only-horizontal .scroll-container {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        gap: 10px;
        padding-left: 10px;
    }

    .dossier-gallery-mobile-only-horizontal .scroll-container img {
        flex: 0 0 100%;
        max-width: 100%;
        height: auto;
        scroll-snap-align: center;
        border-radius: 10px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    }
}