@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=EB+Garamond:wght@400;600&family=Lora:wght@400;600&display=swap');

body {
    /* background: linear-gradient(135deg, #2c1e1e, #5a3826); */
    background: #a5b5d8;
    width: 100%;
    min-height: 100vh;
    margin: 0;
}

h2 {
    font-family: 'Cinzel', serif;
    /* font-family: inherit; */
    font-weight: lighter;
    font-style: oblique;
    /* color: wheat; */
    color: snow;
    text-shadow: 2px 2px 4px black;
}

p {
    /* color: burlywood; */
    /* color: black; */
    color: #ccc4bc;
    font-size: 18px;
    /* font-family: 'EB Garamond', serif; */
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-align: justify;
    padding-inline: 0.9%;
}

.link {
    text-decoration: none;
    /* color: burlywood; */
    color: blueviolet;
    /* text-shadow: 3px 3px 6px rgb(212, 150, 68); */
    /* text-shadow: 3px 3px 6px rebeccapurple; */
    font-size: 18px;
    transition: font-size 1s;
}

.link:hover {
    font-size: 20px;
    transition: font-size 1s;
}

/* .origen {
    padding-top: 100px;
} */

.castillo {
    height: 525px;
    width: 718px;
    border-radius: 12px;
}

.contenido-principal { 
    padding-top: 8%;
    height: 100%;
    min-height: 100%;
    width: 100%;
    align-content: center;
    text-align: center;
    padding-bottom: 8%;
}

@media (max-width:860px) {
    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 2rem;
    }

    .link {
        font-size: 2rem;
        transition: font-size 0.5s;
    }

    .link:hover {
        font-size: 2.1rem;
        transition: font-size 0.5s ;
    }

    .contenido-principal {
        margin-top: 5%;
        margin-bottom: 10%;
    }
}

@media (max-width:430px) {
    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.5rem;
    }

    .link {
        font-size: 1.5rem;
        transition: font-size 0.5s;
    }

    .link:hover {
        font-size: 1.6rem;
        transition: font-size 0.5s ;
    }

    .contenido-principal {
        margin-top: 15%;
        margin-bottom: 35%;
        width: 100%;
        max-width: 100%;
    }

    .castillo {
        width: 100%;
        height: 100%;
    }
}

@media (max-width:320px) {
    .contenido-principal {
        margin-top: 20%;
        margin-bottom: 45%;
    }

    h2 {
        font-size: 1rem;
        text-align: center;
    }

    p {
        font-size: 0.8rem;
    }

    .link {
        font-size: 0.8rem;
    }
}