body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagen-div {
    background-color: rgb(47, 236, 236);
    min-height: 50vh;
    max-width: 80%;
    width: 90%;
}

.imagen-form {
    border: 2px solid green;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: end;
}

.boton-cerrar-sesion {
    background: none;
    height: fit-content;
    border: 1px solid #5a3826;
    color: #5a3826;
    padding: 6px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s, color 0.3s;
    cursor: pointer;
}