@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

body {
    background: #f8f5f0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

.contenido {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 5%;
}

.datos-personales {
    border: none;
    border-left: 5px solid #6d4c41;
    padding-left: 16px;
    font-family: 'Merriweather', serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: #3e2723;
    background-color: #f1e9e1;
}

.mensaje {
    background: #fffdfa;
    border: 1px solid #c2a67f;
    border-left: 6px solid #8d6e63;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 40px auto;
    width: 100%;
    max-width: 50%;
    font-family: 'Merriweather', serif;
    font-size: 1.25rem;
    line-height: 1.8;
    color: #4e342e;
    background-image: linear-gradient(to right, #fffdfa, #f7f3ec);
    text-align: left;
}

.boton-atras {
    display: flex;
    justify-self: center;
    background-color: #bf360c;
    border: none;
    padding: 12px 30px;
    border-radius: 50px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 30px;
    cursor: pointer;
}

.boton-atras:hover {
    background-color: #e64a19;
    transform: scale(1.05);
}

@media (max-width:860px) {
    .datos-personales {
        font-size: 2rem;
    }

    .mensaje {
        font-size: 2.5rem;
        max-width: 90%;
        width: 100%;
    }

    .boton-atras {
        font-size: 2.5rem;

    }
}

@media (max-width:375px) {
    .datos-personales {
        font-size: 1.4rem;
    }

    .mensaje {
        width: fit-content;
        margin: 0;
        max-width: 100%;
        font-size: 1.5rem;
        line-height: 1.5;
        margin-bottom: 5%;
    }
}