body {
    /* background: linear-gradient(135deg, #2c1e1e, #5a3826); */
    /* background: linear-gradient(180deg, #F5E0C3 0%, #D2B48C 100%); */
    background: #a5b5d8;
    margin: 0;
    padding: 0;
    min-height: 100vh;      
}

.ubicacion {
    display: flex;  
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 7%;  
}

.datos-ubicacion {
    display: flex;
    flex-direction: column;
    margin-inline-start: 5%;
    margin-inline-end: 2%;
    width: 100%;
}

h3 {
    text-align: center;
    color: rgb(85, 42, 2);
    font-style: oblique;
    /* font-size: 1.5rem; */
    font-size: 1.9rem;
}

p {
    text-align: center;
    color: #5a3826;
    /* font-size: 1.2rem; */
    font-size: 1.7rem;
}

.mapa-ubicacion {
    /* margin-inline-end: 5%; */
}

.mapa-ubicacion iframe {
    width: 100vh;
    height: 60vh;
}

.ubicacion-btn {
    text-align: center;
    margin-top: 60%;
    background: tomato;
    text-decoration: none;
    /* font-size: 20px; */
    font-size: 1.7rem;
    border: none;
    padding: 12px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3 ease;
    text-decoration: none;
    color: white;
    display: inline-block;
}

.ubicacion-btn:hover {
    background-color: rgb(201, 100, 82);
}

iframe {
    border-radius: 50px;
}

@media (max-width:860px) {
    .ubicacion {
        flex-direction: column;
        align-self: center;
        justify-self: center;
        max-width: 100%;
        width: 100%;
        padding-bottom: 5%;
    }

    .datos-ubicacion {
        margin-bottom: 5%;
        margin-inline-end: 5%;
    }

    h3 {
        font-size: 4.6rem;
        margin: 0;
    }

    p {
        font-size: 4rem;
    }

    .ubicacion-btn {
        margin: 0;
        font-size: 4rem;
        width: fit-content;
        align-self: center;
        border-radius: 50px;
        border: 2px solid red;
    }

    .mapa-ubicacion {
        display: flex;
        margin-inline-end: 0;
        width: 100%;
        margin-bottom: 20%;
    }

    .mapa-ubicacion iframe {
        border-radius: 0;
        width: 100%;
    }

}

@media (max-width:430px) {
    h3 {
        margin: 0;
        font-size: 2.5rem;
    }
    
    p {
        font-size: 2.3rem;
    }

    .ubicacion-btn {
        margin: 0;
        font-size: 2.1rem;
        padding: 10px 16px;
        width: fit-content;
        align-self: center;
    }

    .mapa-ubicacion {
        margin-bottom: 40%;
    }

    .mapa-ubicacion iframe {
        border-radius: 0;
        width: 100%;
    }
}

@media (max-width:375px) {
    h3 {
        margin: 0;
        font-size: 2.1rem;
    }

    p {
        font-size: 1.9rem;
    }

    .ubicacion-btn {
        margin: 0;
        font-size: 1.7rem;
        padding: 8px 14px;
        width: fit-content;
        align-self: center;
    }

    .mapa-ubicacion {
        margin-bottom: 45%;
    }

    .mapa-ubicacion iframe {
        border-radius: 0;
        width: 100%;
    }
}

@media (max-width:320px) {
    h3 {
        margin: 0;
        font-size: 1.9rem;
    }

    p {
        font-size: 1.7rem;
    }

    .ubicacion-btn {
        width: fit-content;
        margin: 0;
        font-size: 1.5rem;
        padding: 6px 12px;
        align-self: center;
    }

    .mapa-ubicacion {
        margin-bottom: 60%;
    }

    .mapa-ubicacion iframe {
        border-radius: 0;
        width: 100%;
    }
}